/*------------------------------------------------------
Remove Stage Discovery Tab
------------------------------------------------------ */
#private-channels [href="/discovery"] {display: none}
 
/*------------------------------------------------------
Remove Library Tab
------------------------------------------------------*/
#private-channels [href="/library"] {display: none}
[href="/store"] {display: none}

/*------------------------------------------------------
Remove Nitro Tab
------------------------------------------------------*/
#private-channels-2.clickable-1JJAn8 [href="/store"]
{display: none}

/* Hide Nitro gift button */
button[aria-label="Send a gift"] {
   display: none;
}

/* Hide annoying sticker popup window that appears when you type */
.da-channelTextArea > .container-JHR0NT {
    display: none;
}

/* Hide sticker picker button */
button[aria-label="Open sticker picker"] {
    display: none;
}

/* Hide GIF picker button */
button[aria-label="Open GIF picker"] {
    display: none;
}

/* Hide Boost button */
button[aria-label="Boost this server"] {
    display: none;
}
/*Custom CSS Hide ClearVision Stuff (Top Left)*/
.typeWindows-2-g3UY>.wordmark-2u86JB:before {
    display: none;
}

.typeWindows-2-g3UY>.wordmark-2u86JB:after {
    display: none;
}

/*Adjust size of Home button for folder view */
.styledGuildsAsChannels-DNHtg_ .wrapper-1_HaEi .homeIcon-r0w4ny {
    width: 48px;
    height: 48px;
}
/*Container under name Footer Text*/
.container-YkUktl:before {
    content: "Spice and Wolf";
}
/*Hide Version name of lower bottom*/
.container-YkUktl:after {
    display: none;
}

/* Hide sticker picker button */
[aria-label="Nitro"] {
    display: none;
}
/* Hide Nitro Boost Tab from Options */
[aria-controls="nitro-server-boost-tab"]{
    display: none;
}
/*Hide Annoying Explore Public Servers button */
[aria-label="Explore Public Servers"]{
    display: none;
}

.emojiItem-277VFM.emojiItemDisabled-3VVnwp
{
    filter: grayscale(0);
}

/*Remove weird gradient from Profile previews.*/
.root-8LYsGj>.topSection-13QKHs {
    background: rgba(0,0,0,.7);
}

.profileBanner-1owKI5 {
    -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, transparent);
    mask: linear-gradient(to bottom, rgba(0,0,0,0) 50%, transparent);
}


.userPopoutInnerWithBanner-wsoegj {
    background: linear-gradient(transparent 120px,var(--profile-gradient-primary-color) 0,var(--profile-gradient-secondary-color));
}

.overlayBackground-arbZMT
{
    background: rgba(1,1,1,0.5);
}

/*Removes badges because useless shit but keep it in there for spacing*/
.profileBadges-31rDHI.containerWithContent-2_V0PM.container-5SvbtF
{
    background: transparent;
}
.clickable-28QF7i, .premiumIcon-3PLiGh.icon-1dGlZy /*Also removes booster icons*/
{
    display: none;
}

/*Removes Icon from server has been boosted message, removes confety, removes boost progress of servers*/
.iconContainer-2rPbqG, .cannonWrapper-2iHppQ, .container-2giAcK
{
    display: none;
}

/*Removes Boost this server button*/
.item-1OdjEX.labelContainer-2vJzYL.colorPremium-vwmYZQ.colorDefault-CDqZdO
{
    display: none;
}

/*Inner of Premium Themed profile*/
.userPopoutInner-1hXSeY.userProfileInner-3F03PX.userProfileInnerThemed-27tvAp
{
    background-image: var(--background-image) !important;
    background-position: var(--background-position) !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-blend-mode: multiply !important;
    background-size: var(--background-size);
    background-attachment: fixed;
}

/*Outer of Premium Themed profile*/
.userPopoutOuter-3AVBmJ
{
    background-image: var(--background-image)!important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(1,1,1,.6)!important; /* Tint color */
    background-blend-mode: multiply !important;
    background-position: var(--background-position) !important;
    background-size: var(--background-size);
    background-attachment: fixed;
}

/*Themed colors overwrite*/
.userPopoutThemed-wGuRN3
{
    --profile-gradient-primary-color: rgba(1,1,1,1) ;
    --profile-gradient-secondary-color: rgba(1,1,1,1) ;
    --profile-gradient-overlay-color: transparent;
    --profile-gradient-button-color: rgba(1,1,1,1);
    --profile-avatar-border-color: rgba(1,1,1,1) ;
    --profile-message-input-border-color: rgba(1,1,1,1) ;
}

/*Change inner non custom*/
.overlayBackground-1KgwVi
{
    background-image: var(--background-image)!important;
    background-color: rgba(1,1,1,.8)!important; /* Tint color */
    background-blend-mode: multiply !important;
    background-position: var(--background-position) !important;
    background-size: var(--background-size);
    background-attachment: fixed;
}
/*Change inner with banner .userPopoutInnerWithoutTheme-3IBtvN.userPopoutInnerWithBanner-1jusp9, .userPopoutInnerNonPremium-303mw8*/
.userPopoutInner-1hXSeY.userProfileInner-3F03PX, userProfileInnerWithBanner-3CJ1Og, .userProfileInnerNonPremium-1XjSjn
{
    background-image: var(--background-image)!important;
    background-color: rgba(1,1,1,.5)!important; /* Tint color */
    background-blend-mode: multiply !important;
    background-position: var(--background-position) !important;
    background-size: var(--background-size);
    background-attachment: fixed;
}

/*Input message box*/
.messageInputContainer-2rGDH8
{
    border: var(--main-color);
}
/*Buttons Color user popup*/
.buttonColor-XIRMbp
{
    background-color: var(--main-color);
}

/*Removes weird Background color on popups*/
.banner-2boKnS.popoutBanner-16rVDY
{
    background-color: rgba(1, 1, 1, 0) !important;
}

/*Removes weird Background color on popups*/
.banner-2boKnS.popoutNoBannerPremium-2TQa6P
{
    background-color: rgba(1, 1, 1, 0) !important;
}

/*Removes Background overlay for avatar*/
/*Box in the middle*/
/*.userPopout-3fydSP:not(.userPopoutThemed-3BZ4by)
.overlayBackground-arbZMT {background: transparent;}*/

/*Avatar*/
.userPopout-3fydSP:not(.userPopoutThemed-3BZ4by) 
.avatar-2OC07D {background: transparent; border-color: transparent;}

.profileBanner-2zIsK7
{
    background-color: rgba(0,0,0,0) !important;
}

.badgeList-2pMvZX /*Hide Badgelist no one cares*/
{
    display: none;
}

.userProfileModalInner-3fh3QA /*Rightclick inspect inner background*/
{
    background-image: var(--background-image)!important;
    background-color: rgba(1,1,1,.5)!important; /* Tint color */
    background-blend-mode: multiply !important;
    background-position: var(--background-position) !important;
    background-size: var(--background-size);
    background-attachment: fixed;
}

.LKKneJCVRLbYQrEtNZ8g
{
    background-color: rgba(0,0,0,0) !important;
}

/*Work for the new Member since*/
.discordMemberCreatedAtIconContainer-2NS-8S
{
    height: 24px;
    width: 24px;
    border-radius: 0px;
    background-color: transparent;
    color: #ecad65;
    flex-shrink: 0
}

.heading-lg-medium-3gUJeM
{
    font-size: 16px;
    font-style: var(--font-primary);
    font-weight: 600;
}

/*Entire Member Since Container*/

.connectedAccountContainer-3aLMHJ.discordMemberCreatedAt-31OkT7
{
    display: none;
}

.perksModalContentWrapper-3RHugb, .content-2t8mBc
{
    display: none;
}

.memberSinceContainer-2CBD23, .userInfoSectionHeader-2mYYun
{
    display: none;
}

/* Don't show blocked container for messages that are blocked*/
.blockedSystemMessage-3FmE9n.container-x059i8.cozy-S5wsfF
{
    display: none;
}